@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "TikTok Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --animate-ping: ping 1.5s cubic-bezier(0, 0, 0.2, 1) infinite;
}

html,
body {
  /* Cores para dark mode (padrão) */
  --color-primary: #ffffff;
  --color-card-bg: #101010;
  --color-tag-bg: #333333;
  --color-text-primary: #ffffff;
  --color-text-secondary: #aaaaaa;
  --color-text-tertiary: #666666;
  --color-button-bg: #ffffff;
  --color-button-text: #101010;


  background-color: black;
  color: white;
}